<h2>Exercise list</h2>
<p>exercise-list works!</p>

@if (exerciseList().length > 0) {
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      @for (exercise of exerciseList(); track exercise.id) {
        <tr>
          <td><input type="checkbox"
            [checked]="selectedExerciseIds().has(exercise.id)"
            (change)="toggleExercise(exercise.id)"
            ></td>
          <td></td>
          <td>{{ exercise.id }}</td>
          <td>{{ exercise.name }}</td>
        </tr>
      }
    </tbody>
  </table>
} @else {
  <p class="empty-message">No exercises available.</p>
}

<button onclick="saveExercises()">save</button>